*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(56, 56, 218);
}
.container{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px; 
    padding: 30px;
}
.container h1{
      font-style: italic;
      color: rgb(179, 194, 137);
      border-bottom: 1px solid black;
      padding-bottom: 30px;
}
.quiz {
 padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight:500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3 all;
}
.btn:hover:not([disabled]){
    background: #000;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto 0;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}